extends layout
block title
    title Page1
block content
             h1.h1 2048
             p#score
             #size-block
             #canvas-block
                     canvas#canvas(width='500' height="500")













